@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/libre-baskerville-v4-latin-regular.eot');
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
    url('../fonts/libre-baskerville-v4-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/libre-baskerville-v4-latin-regular.woff2') format('woff2'),
    url('../fonts/libre-baskerville-v4-latin-regular.woff') format('woff'),
    url('../fonts/libre-baskerville-v4-latin-regular.ttf') format('truetype'),
    url('../fonts/libre-baskerville-v4-latin-regular.svg#LibreBaskerville') format('svg');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/libre-baskerville-v4-latin-italic.eot');
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
    url('../fonts/libre-baskerville-v4-latin-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/libre-baskerville-v4-latin-italic.woff2') format('woff2'),
    url('../fonts/libre-baskerville-v4-latin-italic.woff') format('woff'),
    url('../fonts/libre-baskerville-v4-latin-italic.ttf') format('truetype'),
    url('../fonts/libre-baskerville-v4-latin-italic.svg#LibreBaskerville') format('svg');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/libre-baskerville-v4-latin-700.eot');
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
    url('../fonts/libre-baskerville-v4-latin-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/libre-baskerville-v4-latin-700.woff2') format('woff2'),
    url('../fonts/libre-baskerville-v4-latin-700.woff') format('woff'),
    url('../fonts/libre-baskerville-v4-latin-700.ttf') format('truetype'),
    url('../fonts/libre-baskerville-v4-latin-700.svg#LibreBaskerville') format('svg');
}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/droid-sans-mono-v7-latin-regular.eot');
  src: local('Droid Sans Mono'), local('DroidSansMono'),
    url('../fonts/droid-sans-mono-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droid-sans-mono-v7-latin-regular.woff2') format('woff2'),
    url('../fonts/droid-sans-mono-v7-latin-regular.woff') format('woff'),
    url('../fonts/droid-sans-mono-v7-latin-regular.ttf') format('truetype'),
    url('../fonts/droid-sans-mono-v7-latin-regular.svg#DroidSansMono') format('svg');
}
html {
  color-profile: sRGB;
  rendering-intent: auto;
  background-color: #fdf6e3;
  color: #839496;
}
html * {
  color: #839496;
}
html h1, html h2, html h3, html h4, html h5, html h6 {
  color: #586e75;
}
html a, html a:active, html a:visited {
  color: #586e75;
}
div#titel h1 {
  font-size: 350%;
}
div.heading {
  text-align: center;
}
body {
  font-size: 175%;
  font-family: Libre Baskerville;
}
h1, h2, h3, h4 {
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}
li {
  font-size: 120%;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  line-height: 1.5em;
}
p {
  font-size: 150%;
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}
a {
  text-decoration: none;
}
blockquote {
  font-style: italic;
}
blockquote em {
  color: magenta;
  font-weight: bold;
}
strong {
  font-size: 127%;
  letter-spacing: -2px;
}
pre {
  font-family: DejaVu Sans Mono, Droid Sans Mono, monospace;
  font-size: 80%;
}
.dosini .err {
  border: none;
}
.highlight {
  padding: 1em;
}
.highlight {
  background-color: #002b36;
  color: #93a1a1;
}
.highlight .c {
  color: #586e75;
}
.highlight .err {
  color: #93a1a1;
}
.highlight .g {
  color: #93a1a1;
}
.highlight .k {
  color: #859900;
}
.highlight .l {
  color: #93a1a1;
}
.highlight .n {
  color: #93a1a1;
}
.highlight .o {
  color: #859900;
}
.highlight .x {
  color: #cb4b16;
}
.highlight .p {
  color: #93a1a1;
}
.highlight .cm {
  color: #586e75;
}
.highlight .cp {
  color: #859900;
}
.highlight .c1 {
  color: #586e75;
}
.highlight .cs {
  color: #859900;
}
.highlight .gd {
  color: #2aa198;
}
.highlight .ge {
  color: #93a1a1;
  font-style: italic;
}
.highlight .gr {
  color: #dc322f;
}
.highlight .gh {
  color: #cb4b16;
}
.highlight .gi {
  color: #859900;
}
.highlight .go {
  color: #93a1a1;
}
.highlight .gp {
  color: #859900;
}
.highlight .gs {
  color: #93a1a1;
  font-weight: bold;
}
.highlight .gu {
  color: #cb4b16;
}
.highlight .gt {
  color: #93a1a1;
}
.highlight .kc {
  color: #cb4b16;
}
.highlight .kd {
  color: #268bd2;
}
.highlight .kn {
  color: #859900;
}
.highlight .kp {
  color: #859900;
}
.highlight .kr {
  color: #268bd2;
}
.highlight .kt {
  color: #dc322f;
}
.highlight .ld {
  color: #93a1a1;
}
.highlight .m {
  color: #2aa198;
}
.highlight .s {
  color: #2aa198;
}
.highlight .na {
  color: #93a1a1;
}
.highlight .nb {
  color: #B58900;
}
.highlight .nc {
  color: #268bd2;
}
.highlight .no {
  color: #cb4b16;
}
.highlight .nd {
  color: #268bd2;
}
.highlight .ni {
  color: #cb4b16;
}
.highlight .ne {
  color: #cb4b16;
}
.highlight .nf {
  color: #268bd2;
}
.highlight .nl {
  color: #93a1a1;
}
.highlight .nn {
  color: #93a1a1;
}
.highlight .nx {
  color: #93a1a1;
}
.highlight .py {
  color: #93a1a1;
}
.highlight .nt {
  color: #268bd2;
}
.highlight .nv {
  color: #268bd2;
}
.highlight .ow {
  color: #859900;
}
.highlight .w {
  color: #93a1a1;
}
.highlight .mf {
  color: #2aa198;
}
.highlight .mh {
  color: #2aa198;
}
.highlight .mi {
  color: #2aa198;
}
.highlight .mo {
  color: #2aa198;
}
.highlight .sb {
  color: #586e75;
}
.highlight .sc {
  color: #2aa198;
}
.highlight .sd {
  color: #93a1a1;
}
.highlight .s2 {
  color: #2aa198;
}
.highlight .se {
  color: #cb4b16;
}
.highlight .sh {
  color: #93a1a1;
}
.highlight .si {
  color: #2aa198;
}
.highlight .sx {
  color: #2aa198;
}
.highlight .sr {
  color: #dc322f;
}
.highlight .s1 {
  color: #2aa198;
}
.highlight .ss {
  color: #2aa198;
}
.highlight .bp {
  color: #268bd2;
}
.highlight .vc {
  color: #268bd2;
}
.highlight .vg {
  color: #268bd2;
}
.highlight .vi {
  color: #268bd2;
}
.highlight .il {
  color: #2aa198;
}
.console .go {
  color: #586e75 !important;
}
.console .se {
  color: #586e75 !important;
}
