
// fonts ----------------------------------------------------------------------

//@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Code+Pro|Ubuntu+Mono|Roboto+Mono|Droid+Sans+Mono);

/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/libre-baskerville-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
       url('../fonts/libre-baskerville-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-baskerville-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-baskerville-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-baskerville-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-baskerville-v4-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-italic - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/libre-baskerville-v4-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
       url('../fonts/libre-baskerville-v4-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-baskerville-v4-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-baskerville-v4-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-baskerville-v4-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-baskerville-v4-latin-italic.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-700 - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/libre-baskerville-v4-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
       url('../fonts/libre-baskerville-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-baskerville-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-baskerville-v4-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-baskerville-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-baskerville-v4-latin-700.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* droid-sans-mono-regular - latin */
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/droid-sans-mono-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Droid Sans Mono'), local('DroidSansMono'),
       url('../fonts/droid-sans-mono-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/droid-sans-mono-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/droid-sans-mono-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/droid-sans-mono-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/droid-sans-mono-v7-latin-regular.svg#DroidSansMono') format('svg'); /* Legacy iOS */
}


// color scheme (solarized) ---------------------------------------------------
// from: http://ethanschoonover.com/solarized

$base03:  #002b36;
$base02:  #073642;
$base01:  #586e75;
$base00:  #657b83;
$base0:   #839496;
$base1:   #93a1a1;
$base2:   #eee8d5;
$base3:   #fdf6e3;
$yellow:  #b58900;
$orange:  #cb4b16;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;

html {
    color-profile: sRGB;
    rendering-intent: auto;
    background-color:$base3;
    //color:$violet;
    //color:$base0;
    color: $base0;
    * {
        color:$base0;
    }
    h1, h2, h3, h4, h5, h6 {
        //color:$blue;
        //color:$base2;
        color:$base01;
    }
    a, a:active, a:visited {
        color: $base01;
        //color: $blue;
        //font-style: italic;
    }
}

div#titel {
    h1 {
        font-size: 350%;
    }
}

div.heading {
    text-align: center;
}

// presentation style ---------------------------------------------------------

body {
    font-size: 175%;
    //text-align: center;
    font-family: Libre Baskerville;
    //font-family: Rock Salt
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    //text-align: center;
}

ul {
    //list-style-position: inside;
    //margin-left: 1em;
}

li {
    font-size: 120%;
    //font-family: serif;
    //font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    line-height: 1.5em;
    //list-style-type: circle;
}

p {
    font-size: 150%;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

a {
    text-decoration: none;
}

em {
    //font-family: Satisfy;
    //font-size: 142%;
    //color: $magenta;
    //font-style: normal;
}


blockquote {
    font-style: italic;
    em {
        color: magenta;
        font-weight: bold;
    }
}

strong {
    font-size: 127%;
    letter-spacing: -2px;
}

pre {
    font-family: DejaVu Sans Mono,Droid Sans Mono,monospace;
    font-size: 80%;
    //text-align: left;
    //padding-left: 10%;
}


// pygments color scheme (solarized) ------------------------------------------

.dosini .err {
    border: none;
}

.highlight {
    padding: 1em;
}

// from: https://gist.github.com/nicolashery/5765395#file-solarized-light-css
/*
.highlight { background-color: #fdf6e3; color: #586e75 }
.highlight .c { color: #93a1a1 } // Comment
.highlight .err { color: #586e75 } // Error
.highlight .g { color: #586e75 } // Generic
.highlight .k { color: #859900 } // Keyword
.highlight .l { color: #586e75 } // Literal
.highlight .n { color: #586e75 } // Name
.highlight .o { color: #859900 } // Operator
.highlight .x { color: #cb4b16 } // Other
.highlight .p { color: #586e75 } // Punctuation
.highlight .cm { color: #93a1a1 } // Comment.Multiline
.highlight .cp { color: #859900 } // Comment.Preproc
.highlight .c1 { color: #93a1a1 } // Comment.Single
.highlight .cs { color: #859900 } // Comment.Special
.highlight .gd { color: #2aa198 } // Generic.Deleted
.highlight .ge { color: #586e75; font-style: italic } // Generic.Emph
.highlight .gr { color: #dc322f } // Generic.Error
.highlight .gh { color: #cb4b16 } // Generic.Heading
.highlight .gi { color: #859900 } // Generic.Inserted
.highlight .go { color: #586e75 } // Generic.Output
.highlight .gp { color: #586e75 } // Generic.Prompt
.highlight .gs { color: #586e75; font-weight: bold } // Generic.Strong
.highlight .gu { color: #cb4b16 } // Generic.Subheading
.highlight .gt { color: #586e75 } // Generic.Traceback
.highlight .kc { color: #cb4b16 } // Keyword.Constant
.highlight .kd { color: #268bd2 } // Keyword.Declaration
.highlight .kn { color: #859900 } // Keyword.Namespace
.highlight .kp { color: #859900 } // Keyword.Pseudo
.highlight .kr { color: #268bd2 } // Keyword.Reserved
.highlight .kt { color: #dc322f } // Keyword.Type
.highlight .ld { color: #586e75 } // Literal.Date
.highlight .m { color: #2aa198 } // Literal.Number
.highlight .s { color: #2aa198 } // Literal.String
.highlight .na { color: #586e75 } // Name.Attribute
.highlight .nb { color: #B58900 } // Name.Builtin
.highlight .nc { color: #268bd2 } // Name.Class
.highlight .no { color: #cb4b16 } // Name.Constant
.highlight .nd { color: #268bd2 } // Name.Decorator
.highlight .ni { color: #cb4b16 } // Name.Entity
.highlight .ne { color: #cb4b16 } // Name.Exception
.highlight .nf { color: #268bd2 } // Name.Function
.highlight .nl { color: #586e75 } // Name.Label
.highlight .nn { color: #586e75 } // Name.Namespace
.highlight .nx { color: #586e75 } // Name.Other
.highlight .py { color: #586e75 } // Name.Property
.highlight .nt { color: #268bd2 } // Name.Tag
.highlight .nv { color: #268bd2 } // Name.Variable
.highlight .ow { color: #859900 } // Operator.Word
.highlight .w { color: #586e75 } // Text.Whitespace
.highlight .mf { color: #2aa198 } // Literal.Number.Float
.highlight .mh { color: #2aa198 } // Literal.Number.Hex
.highlight .mi { color: #2aa198 } // Literal.Number.Integer
.highlight .mo { color: #2aa198 } // Literal.Number.Oct
.highlight .sb { color: #93a1a1 } // Literal.String.Backtick
.highlight .sc { color: #2aa198 } // Literal.String.Char
.highlight .sd { color: #586e75 } // Literal.String.Doc
.highlight .s2 { color: #2aa198 } // Literal.String.Double
.highlight .se { color: #cb4b16 } // Literal.String.Escape
.highlight .sh { color: #586e75 } // Literal.String.Heredoc
.highlight .si { color: #2aa198 } // Literal.String.Interpol
.highlight .sx { color: #2aa198 } // Literal.String.Other
.highlight .sr { color: #dc322f } // Literal.String.Regex
.highlight .s1 { color: #2aa198 } // Literal.String.Single
.highlight .ss { color: #2aa198 } // Literal.String.Symbol
.highlight .bp { color: #268bd2 } // Name.Builtin.Pseudo
.highlight .vc { color: #268bd2 } // Name.Variable.Class
.highlight .vg { color: #268bd2 } // Name.Variable.Global
.highlight .vi { color: #268bd2 } // Name.Variable.Instance
.redhighlight .il { color: #2aa198 } // Literal.Number.Integer.Long
*/


// from: https://gist.github.com/nicolashery/5765395#file-solarized-dark-css
.highlight { background-color: #002b36; color: #93a1a1 }
.highlight .c { color: #586e75 } // Comment
.highlight .err { color: #93a1a1 } // Error
.highlight .g { color: #93a1a1 } // Generic
.highlight .k { color: #859900 } // Keyword
.highlight .l { color: #93a1a1 } // Literal
.highlight .n { color: #93a1a1 } // Name
.highlight .o { color: #859900 } // Operator
.highlight .x { color: #cb4b16 } // Other
.highlight .p { color: #93a1a1 } // Punctuation
.highlight .cm { color: #586e75 } // Comment.Multiline
.highlight .cp { color: #859900 } // Comment.Preproc
.highlight .c1 { color: #586e75 } // Comment.Single
.highlight .cs { color: #859900 } // Comment.Special
.highlight .gd { color: #2aa198 } // Generic.Deleted
.highlight .ge { color: #93a1a1; font-style: italic } // Generic.Emph
.highlight .gr { color: #dc322f } // Generic.Error
.highlight .gh { color: #cb4b16 } // Generic.Heading
.highlight .gi { color: #859900 } // Generic.Inserted
.highlight .go { color: #93a1a1 } // Generic.Output
.highlight .gp { color: $green } // Generic.Prompt
//.highlight .gp { color: #93a1a1 } // Generic.Prompt
.highlight .gs { color: #93a1a1; font-weight: bold } // Generic.Strong
.highlight .gu { color: #cb4b16 } // Generic.Subheading
.highlight .gt { color: #93a1a1 } // Generic.Traceback
.highlight .kc { color: #cb4b16 } // Keyword.Constant
.highlight .kd { color: #268bd2 } // Keyword.Declaration
.highlight .kn { color: #859900 } // Keyword.Namespace
.highlight .kp { color: #859900 } // Keyword.Pseudo
.highlight .kr { color: #268bd2 } // Keyword.Reserved
.highlight .kt { color: #dc322f } // Keyword.Type
.highlight .ld { color: #93a1a1 } // Literal.Date
.highlight .m { color: #2aa198 } // Literal.Number
.highlight .s { color: #2aa198 } // Literal.String
.highlight .na { color: #93a1a1 } // Name.Attribute
.highlight .nb { color: #B58900 } // Name.Builtin
.highlight .nc { color: #268bd2 } // Name.Class
.highlight .no { color: #cb4b16 } // Name.Constant
.highlight .nd { color: #268bd2 } // Name.Decorator
.highlight .ni { color: #cb4b16 } // Name.Entity
.highlight .ne { color: #cb4b16 } // Name.Exception
.highlight .nf { color: #268bd2 } // Name.Function
.highlight .nl { color: #93a1a1 } // Name.Label
.highlight .nn { color: #93a1a1 } // Name.Namespace
.highlight .nx { color: #93a1a1 } // Name.Other
.highlight .py { color: #93a1a1 } // Name.Property
.highlight .nt { color: #268bd2 } // Name.Tag
.highlight .nv { color: #268bd2 } // Name.Variable
.highlight .ow { color: #859900 } // Operator.Word
.highlight .w { color: #93a1a1 } // Text.Whitespace
.highlight .mf { color: #2aa198 } // Literal.Number.Float
.highlight .mh { color: #2aa198 } // Literal.Number.Hex
.highlight .mi { color: #2aa198 } // Literal.Number.Integer
.highlight .mo { color: #2aa198 } // Literal.Number.Oct
.highlight .sb { color: #586e75 } // Literal.String.Backtick
.highlight .sc { color: #2aa198 } // Literal.String.Char
.highlight .sd { color: #93a1a1 } // Literal.String.Doc
.highlight .s2 { color: #2aa198 } // Literal.String.Double
.highlight .se { color: #cb4b16 } // Literal.String.Escape
.highlight .sh { color: #93a1a1 } // Literal.String.Heredoc
.highlight .si { color: #2aa198 } // Literal.String.Interpol
.highlight .sx { color: #2aa198 } // Literal.String.Other
.highlight .sr { color: #dc322f } // Literal.String.Regex
.highlight .s1 { color: #2aa198 } // Literal.String.Single
.highlight .ss { color: #2aa198 } // Literal.String.Symbol
.highlight .bp { color: #268bd2 } // Name.Builtin.Pseudo
.highlight .vc { color: #268bd2 } // Name.Variable.Class
.highlight .vg { color: #268bd2 } // Name.Variable.Global
.highlight .vi { color: #268bd2 } // Name.Variable.Instance
.highlight .il { color: #2aa198 } // Literal.Number.Integer.Long

.console .go { color: $base01 !important } // Generic.Output
.console .se { color: $base01 !important } // Literal.String.Escape
